*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  hanging-punctuation: first last;
  text-size-adjust: 100%;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

body {
  min-block-size: 100%;
}

img,
picture,
svg {
  display: block;
  max-inline-size: 100%;
}

img {
  block-size: auto;
}

button,
input,
textarea,
select {
  font: inherit;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}

button {
  margin: 0;
}

address {
  font-style: normal;
}

[hidden] {
  display: none;
}
