---
import Icon from '../ui/Icon.astro';

interface Props {
  controls: string;
}

const { controls } = Astro.props;
---

<button
  class="mobile-menu-trigger"
  type="button"
  aria-controls={controls}
  aria-expanded="false"
  aria-label="Åpne meny"
  hidden
>
  <Icon name="menu" />
</button>
